
<div class="col-md-8 offset-md-1">
  <h2>books</h2> 
  <table class="table table-hover table-inverse">
      <thead>
       <tr> 
        <th>Title</th>
        <th>Opinion</th>
       </tr>
      </thead>
      <tbody>
   
        
          
          </td>
        </tr>
      </tbody>
     </table>
