
<div class="col-md-8 offset-md-1">
  <h2>books</h2> 
  <table class="table table-hover table-inverse">
      <thead>
       <tr> 
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
       </tr>
      </thead>
      <tbody>
        <td></td>
        <td><%= link_to book.title, book_path(book.id) %></td>
        <td><%= book.body %></td>
        
      </tbody>
    </table>
</div>
